{% extends 'indexbase.html' %}
{% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Main Content -->
    {% block main %}

    {% for post in posts %}
        <div style="background: white;">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-1">
                    <div class="post-preview">
                        <a href="{{ post.id }}">
                            <h2 class="post-title">
                                {{ post.title }}
                            </h2>
                        </a>
                            <p class="post-subtitle">
                                {{ post.content | truncatewords:20 }}
                            </p>
                        <p class="post-meta">{{ post.published_date }} | Tag: {{ post.tag }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% endblock %}

    {% block side %}
    {% for trend in trends %}
        <h5 class="post-title">
            {{ trend.title }}
        </h5>
        <p class="post-subtitle">
            {{ trend.content | truncatewords:10 }}
        </p>
    {% endfor %}

    {% endblock %}